<p><a data-open="modal1">hier klicken</a></p>
 
<div class="reveal" id="modal1" data-reveal>
  <h1>Neues Lebensmittel</h1>

<%= render 'form', food: @food %>
  <button type="button" class="close-button" data-close>
    <span>&times;</span>
  </button>
 
  <a class='button' data-toggle='modal1'>Pop-Up schließen</a>

  --------------------------------------------------------------------------------

  <p><a data-toggle="exampleModal9">Lebensmittel hinzufügen</a></p>

<div class="reveal" id="exampleModal9" data-reveal data-overlay="false">
  <%= render 'modal' %>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>