<div class="start" style="width:100%; height: 728px;">

<center>
<h1>Noch zu erledigen:</h1></center>
<br><br>


<ul style="font-size:24px">
<li>ajax (nur teile der seite laden || Pop-Up Fenster)</li> <br>
<li>erfolge in grafiken wieder geben</li><br>
<li>forum</li> <br>
<li>Profil</li><br>
</ul>


</div>