<div class="start" style="width:100%; height: 728px;">

<center>
<h1>Noch zu erledigen:</h1></center>
<br><br>


<ul style="font-size:24px">
<li>popup New AUCH für EDIT einfügen?!</li> <br>
<li>Übersicht Diäten als wirkliche Übersichtsseite zum Thema Diät allgemein?</li> <br>
<li>Alle Created Meldung auf Deutsch überprüfen</li> <br>
<li>Gewicht mit Komma !</li> <br>
<li>BOGNER => AUTO-Höhe von Side-Bar's !!!</li> <br>
<li>BOGNER => WENN Popup 1 dann Popup 2 = deaktiviert !</li> <br>
<li>success aus Schema entfernen</li> <br>
<li>Datensatz begrenzung für Sport</li> <br>

</ul>

</div>
