<div class="diet">
<h1>Trennkost Diät </h1>

<br>

<p><b>Die Trennkost-Diät macht das Abnehmen leicht:</b><p>

<p>Kalorien zählen entfällt und satt essen können Sie sich auch.</p>

<p>Das Prinzip der Trennkost-Diät ist nämlich nicht, die Mengen einzuschränken – man darf fast alles essen, allerdings muss man Lebensmittel nach Mahlzeiten trennen.</p>


<p><b>Erfunden hat das Prinzip der amerikanische Mediziner Dr. Howard Hay. Seine Regeln für die Trennkost-Diät lauten:</b></p>

<p>Zucker, Weißmehl, weißer Reis, Fertigprodukte, Schweinefleisch und gehärtete Fette sind tabu.</p>

<p>Vollkorngetreide, Fleisch von anderen Tieren, Fisch, Eier, Gemüse, Obst und pflanzliche Öle dürfen Sie bei der Trennkost-Diät hingegen essen.</p>

<p><b>Wichtigster Grundsatz der Trennkost-Diät:</b></p>

<p>Eiweiß und Kohlenhydrate dürfen nie zusammen gegessen werden, sondern müssen jeweils auf zwei Mahlzeiten aufgeteilt werden.</p> 

<p>Bei der Trennkost-Diät essen Sie also z.B. nicht Fisch mit Kartoffeln, sondern mittags Fisch und abends ein Kartoffelgericht, jeweils kombiniert mit Gemüse, Salat, Käse, Nüssen oder Sauermilchprodukten.</p>

</div>