<div class="diet">
<h1>Low Carb Diät</h1>

<p>Bei dem Ernährungsplan nach Low-Carb wird die Aufnahme von Kohlenhydraten drastisch reduziert – eiweiß- und fettreiche Lebensmittel sind hingegen fast unbegrenzt erlaubt. Dadurch soll erreicht werden, dass der Körper seine Energie überwiegend aus Fetten und Eiweiß gewinnt, anstelle von Kohlenhydraten.</p>

<p>Liegt der Gehalt der aufgenommenen Kohlenhydrate unter 100 Gramm pro Tag, spricht man von einer Low-Carb-Diät. Vor allem am Abend ist es wichtig sich kohlenhydratarm zu ernähren, da so die Fettverbrennung über Nacht nicht blockiert wird. Diese Ernährungsform legt ihr Augenmerk nicht auf eine kalorienreduzierte Ernährung, sondern auf eine eiweißbentonte. </p>

<p>Dies bedeutet, dass ein Low-Carb-Ernährungsplan an seinen persönlichen Energiebedarf individuell angepasst und mit weiteren Lebensmitteln im Sinne der Low-Carb-Ernährung ergänzt werden kann.</p>

<h5>Diese Lebensmittel gehören auf den Ernährungsplan nach Low-Carb</h5>

<ul>
	<li>Fleisch (nicht mariniert oder paniert)</li>
    <li>Eier</li>
    <li>Fisch und Meeresfrüchte</li>
    <li>Milch- und Milchprodukte</li>
    <li>Gemüse</li>
    <li>Fruktosearme Obstsorten (wie Beeren, Avocado, Wasser- und Honigmelone, Grapefruit, Orange, Pfirsich)</li>
</ul>

<h5>Diese Lebensmittel sind auf dem Ernährungsplan nach Low-Carb tabu</h5>

<ul>
    <li>Brot</li>
    <li>Reis</li>
    <li>Nudeln + Kartoffeln</li>
    <li>Haferflocken</li>
    <li>Süßigkeiten</li>
    <li>Zucker</li>
    <li>Alkohol</li>
</ul>
</div>