<div class="diet">
<h1>Übersicht Diäten</h1>

<p>Trennkost oder Glyx-Diät, Kartoffel oder Ananas: Wer abnehmen möchte, hat längst die Qual der Wahl. Die Liste der Diäten ist lang und jedes Konzept verspricht Erfolge. Umso wichtiger ist es, sich intensiv mit den einzelnen Optionen zu befassen. Denn längst nicht jede Diät ist auch für jede Person geeignet. Einige Diäten erhalten von Experten mitunter sogar die rote Karte, weil sie die Gesundheit gefährden, zu einseitig sind oder der Ansatz als längst überholt gilt.</p>

<p>Mit welcher der vielen Möglichkeiten die individuellen Ziele am ehesten erreicht werden können, lässt sich nicht pauschal beantworten. Wohl aber, wie eine Diät aufgebaut sein sollte, damit sie den hohen Ansprüchen von Ernährungswissenschaftlern und Medizinern gerecht wird. Im Grunde genommen sind es drei Säulen, auf die es bei einer Diät ankommt: Ernährung, Sport und Psyche.</p>

<p>In puncto Ernährung setzen Experten auf eine langfristige Umstellung der bisherigen Gewohnheiten. Zudem sollten die Vorgaben für Zutaten und Zubereitung weitgehend alltagstauglich sein. Anderenfalls scheitert man möglicherweise schon an den Rezepten oder verliert schnell die Lust an der Diät. Das passiert zum Beispiel, wenn die Ernährung zu einseitig ist, wie bei den sogenannten Mono-Diäten. Derlei Konzepte versprechen zwar schnelle Erfolge, sind aber nur für kurze Zeit geeignet. Um den Jojo-Effekt zu vermeiden, führt daher kein Weg an einer dauerhaften Anpassung der Ernährungsgewohnheiten vorbei.</p>

<p>Der Aspekt Sport ist von Bedeutung, weil nur Muskeln Fett verbrennen. Einige Diäten gehen gar nicht darauf ein und konzentrieren sich ausschließlich auf das Thema Ernährung. Bei anderen Modellen gehört Bewegung zum festen Programm – etwa mit 30 Minuten täglich. Wichtig ist in dem Zusammenhang, dass die Übungen der eigenen Konstitution entsprechen. Heißt: Das Pensum nach und nach steigern, statt gleich in die Vollen zu gehen.</p>

<p>Häufig übersehen wird zudem, dass die Psyche bei einer Diät eine entscheidende Rolle spielt. Meist ist es der Kopf, der für die Heißhungerattacken und damit indirekt auch für die überflüssigen Pfunde verantwortlich ist. Inzwischen gehen immer mehr Diäten auf diesen Zusammenhang ein. Denn nur wenn man sich seiner Fehler bewusst ist, kann man entsprechend gegensteuern.</p>

<p>Ein solches gesamtheitliches Konzept zeichnet eine gute Diät aus. Wer einen schnellen Erfolg wünscht, um zu einem bestimmten Termin ein paar Kilo zu verlieren, kann natürlich auch eine Crash-Diät versuchen.</p> 

<center>

<p><b>Auf unserer Seite haben wir Ihnen einmal 3 Diäten näher beschrieben:</b></p>

<ul>
<li><%= link_to 'Low Carb', diet1_path %></li> 
<li><%= link_to 'Low Fat', diet2_path %></li>
<li><%= link_to 'Trennkost', diet3_path %></li>
</ul>
</center>

</div>